extends ../layout.pug

block content
	include ../../components/content/content.pug
	.documents-page
		.container
			h1.title ДОКУМЕНТЫ
			.documents__links
				a.documents__links--link(href="javascript:void(0)") Свидетельство о государственной регистрации юридического лица
				a.documents__links--link(href="javascript:void(0)") Лицензии
			+content()
				h2 Информация по контролирующим структурам 
				h3 Управление Росздравнадзора по г. Санкт-Петербургу и Ленинградской области
				p Адрес: 190068, г. Санкт-Петербург, набережная канала Грибоедова 88-90, каб. 306.<br>E-mail: info@roszdravnadzor.spb.ru<br>Отдел контроля и надзора за медицинской, фармацевтической деятельностью и деятельностью, связанной с оборотом наркотических средств и психотропных веществ: тел./факс: 8 (812)310-61-75<br>Отдел контроля оказания медицинской помощи и мониторинга государственных программ: тел./факс:8(812)310-61-75
				h3 Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по городу
				p Адрес: 191025, г. Санкт-Петербург, ул. Стремянная, д. 19<br> Тел.: 8 (812) 764-42-38<br> Факс: 8 (812) 764-55-83<br> E-mail: uprav@78rospotrebnadzor.ru<br> «Горячая линия»Тел.: 8-812-712-2981
				h3 Комитет по здравоохранению г. Санкт-Петербург
				p Адрес: 191023, Санкт-Петербург, ул. Малая Садовая, д. 1<br> тел.: 8(812)117-34-06, 595-89-79<br> факс: 8(812)117-18-14<br> Отдел контроля качества медицинской помощи населению<br> тел.: 8(812) 595-89-32<br> E-mail: health_protect@gov.spb.ru, secretar@kz.zdrav.spb.ru