extends ../layout.pug

block content
	include ../../components/icon/icon.pug
	include ../../components/marker/marker.pug
	include ../../components/quote/quote.pug
	include ../../components/rulesNavigation/rulesNavigation.pug
	include ../../components/content/content.pug
	.rules-page#navigation
		.container
			h1.title ПРАВИЛА посещения детских секций
			+rulesNavigation([
				{
					'name':'Термины и определения',
					'href':'term0'
				},
				{
					'name':'1. Общие положения',
					'href':'term1'
				},
				{
					'name':'2. Пребывание в клубе',
					'href':'term2'
				},
				{
					'name':'3. Пребывание в клубе несовершеннолетних',
					'href':'term3'
				},
				{
					'name':'4. Правила нахождения ребенка в детской комнате',
					'href':'term4'
				},
				{
					'name':'5. Права клиентов, сопровождающих, гостей и работников клуба',
					'href':'term5'
				},
				{
					'name':'6. Порядок предоставления «заморозки» (приостановления оказания услуг)',
					'href':'term6'
				},
				{
					'name':'7. Платные дополнительные услуги',
					'href':'term7'
				},
				{
					'name':'8. Правила поведения на тренировочных территориях',
					'href':'term8'
				},
				{
					'name':'9. Правила посещения групповых занятий',
					'href':'term9'
				},
				{
					'name':'10. Ответственность',
					'href':'term10'
				},
				{
					'name':'11. Порядок возврата денежных средств при досрочном прекращении договора',
					'href':'term11'
				},
				{
					'name':'12. Заключительные положения',
					'href':'term12'
				},
				{
					'name':'13. Приложения',
					'href':'term13'
				}
			])
			+content('term0')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term1')
				h2 1. ОБЩИЕ ПОЛОЖЕНИЯ
				p 1. Настоящие Правила доступны для ознакомления  в часы работы Клуба на рецепции Клуба и на информационных стендах, расположенных на территории Клуба.<br>2.Клиент  имеет право находиться в Клубе в часы и дни, указанные в заключенном  с Клубом Договоре.<br>3. Часы работы Клуба: ежедневно, с 07-00 до 24-00 по будним дням и с 09-00 до 22-00 по выходным и праздничным дням.<br>4. Клуб может быть закрыт для посещения в нерабочие праздничные дни по особому распоряжению Генерального директора Клуба. Клуб может быть закрыт для посещения на период технического обслуживания, профилактических и аварийных работ.<br>5. Об изменении времени работы Клуба ответственные работники Клуба заблаговременно извещают путем размещения соответствующей информации на рецепции Клуба и на информационных стендах, расположенных на территории Клуба, а также на Сайте.<br>6. При заключении Договора на посещение отдельных занятий (секций) проход в Клуб начинается за 20 минут до начала занятия, а выход должен быть осуществлен не позднее 20 минут после окончания занятия.  Клиенты, заключившие соглашение на безлимитное посещение Клуба, имеют право находиться на территории Клуба в часы  его работы и обязаны покинуть Клуб не позднее официального времени его закрытия. Клуб закрывается для входа Клиентов, Гостей, Сопровождающих за 45 минут до времени закрытия.<br>7. Договор, заключенный сроком на 3 месяца и более, может быть переоформлен на другое лицо (Нового Клиента) один раз в течение срока его действия. При этом Договор не может быть переоформлен на Нового Клиента, если у Нового Клиента ранее был заключен Договор с Клубом, и с момента прекращения действия указанного Договора прошло менее трех месяцев. Право требования оказания одноразовых услуг, ранее оказанных Клиенту по Договору (ознакомительную тренировку, осмотр фитнес-консультанта и т.п.) по переоформляемому Договору к Новому Клиенту не переходит. Новый Клиент обязан самостоятельно и за свой счет пройти осмотр фитнес-консультанта и ознакомительную тренировку, необходимые для занятий. <br>Договор, заключенный сроком менее, чем на 3 месяца, не может быть переоформлен на другое лицо.<br>8. Увеличение по желанию Клиента срока действия Договора может производиться не позднее, чем через месяц с момента его заключения.<br>9.  Клиент не вправе требовать внесения в Договор изменений, влекущих уменьшение стоимости услуг по Договору.<br>10. В целях обеспечения общественной безопасности на территории Клуба, за исключением территорий раздевалок Клуба, ведется видеонаблюдение.<br>11. Клиент не имеет право передавать Клубную карту третьим лицам<br>12. Член Клуба дает свое согласие Клубу  на проведение  фото и видеосъемок, на обнародование и дальнейшее использование изображения(ий) Члена Клуба, сделанных  Клубом, в том числе фотографии(ий), а также видеозаписи(ей) или произведения(ий) изобразительного искусства, на  которых изображен  Член Клуба.
				a.anchor(href="#navigation") В начало
			+content('term2')
				h2 2. ПРЕБЫВАНИЕ В КЛУБЕ
				p 2.1. Обязанности Клиента, Сопровождающего, Гостя:<br>2.1.1. При первом посещении оформить персональную Клубную карту (в случае заключения Договора на посещение тренажерного зала) и/или договор (групповых занятий  по аэробике, единоборствам).<br>При первом посещении  Клуба Гостем, Гость обязан оформить карту Гостевой визит в отделе продаж по предъявлению документа, удостоверяющего личность.<br>2.1.2. Предъявлять Клубную карту (при посещении тренажерного зала или участия в акции «Специальная цена») и Договор (при посещении групповых и индивидуальных занятий) при каждом посещении Клуба или карту  Гостевого визита. Проход на территорию для занятий осуществляется Клиентом только при активной Клубной карте или действующем Договоре или по карте Гостевого визита  по предъявлении их на рецепции Клуба. На основании вышеуказанных документов администратор рецепции выдает Клиенту замок с биркой, который он обязан предъявить дежурному администратору поста 1 (главный вход) и поста 2 (вход в Детскую спортивную академию). При отказе Клиента предъявить Клубную карту, Клуб  вправе отказать в посещении Клуба.<br>2.1.3. Соблюдать режим пребывания в Клубе (в том числе установленный Договором).<br>2.1.4. При входе в Клуб использовать одноразовые бахилы поверх уличной обуви, если такое использование обусловлено требованием Клуба, погодными условиями или сезоном.<br>2.1.5.Оставлять верхнюю одежду на хранение в гардеробе, другие предметы одежды  (головные уборы,  шарфы,  перчатки  и т. п.) оставлять в гардеробе только  в упакованном  виде  (в  пакете, малогабаритной сумке). В случае утраты гардеробного номерка, Клиент должен обратиться к администратору Клуба и написать заявление об утрате номерка..<br>2.1.6.Оставлять личные вещи только в индивидуальном шкафчике, предоставляемом  в  пользование,  закрывающемся  на   замок (выдаваемый в порядке, определенном п.2.2.2.Правил) и  расположенном на территории раздевалок  Не  допускать попадания ключа от замка и номерка от гардероба к иным лицам.  Использовать индивидуальный шкафчик и прилагающийся к нему замок исключительно в соответствии с целевым назначением.<br>2.1.7.Не оставлять на территории Клуба личные вещи, в том числе одежду, сумки, обувь и пр., без присмотра. Клуб не отвечает за сохранность вещей Клиента, Сопровождающего, Гостя, так как не принимает их на ответственное хранение.<br>2.1.8.Оставлять ценные вещи, деньги и документы только в  индивидуальных    сейфах, предоставляемых по просьбе в пользование. Клуб не отвечает за сохранность вещей Клиента, Сопровождающего, Гостя, так как не принимает их на ответственное хранение <br>2.1.9.В случае утраты гардеробного номерка, замка или ключа от шкафчика Клуб вправе задержать выдачу одежды и иных вещей до окончания установленных часов работы, требовать письменных объяснений по данным фактам и представления доказательств принадлежности одежды и вещей конкретному лицу.<br>2.1.10.Сообщать специалистам в кабинете фитнес-диагностики, осуществляющим допуск, полную и достоверную информацию о состоянии своего здоровья и имеющихся противопоказаниях медицинского характера при визите в Клуб, а так же сообщать об изменениях состояния здоровья (возникновении медицинских противопоказаний, резкого ухудшения самочувствия) в течение всего срока действия Договора. <br>2.1.11.Самостоятельно следить за состоянием своего здоровья, учитывать самочувствие в ходе занятий, соблюдать установленные по медицинским показаниям ограничения при получении активных нагрузок в ходе занятий.<br>2.1.12.Следовать   рекомендациям   Тренера в   ходе   занятий   с    использованием оборудования Клуба, а во избежание получения травм воздерживаться от выполнения рекомендаций других Клиентов или Сопровождающих.<br>2.1.13.Воздерживаться   от   высказывания   рекомендаций   другим Клиентам   в   ходе   занятий, высказывания мнений относительно их методов, походов к занятиям.<br>2.1.14.Регулярно знакомиться с сообщениями, размещенными на рецепции, информационных стендах Клуба и Сайте.<br>2.1.15.Быть вежливым, не допускать некорректного поведения по отношению к другим Клиентам, Сопровождающим, Гостям и Персоналу Клуба вне зависимости от пола,  возраста,  национальности и  иных обстоятельств.  Не допускать нецензурных выражений.<br>2.1.16.Находиться в  Клубе в чистой, опрятной одежде и обуви,  не использовать косметические средства, имеющие резкий запах, соблюдать правила личной гигиены.<br>2.1.17.В помещениях Клуба, предназначенных для занятий находиться исключительно в сменной обуви.<br>2.1.18.Бережно относиться к имуществу Клуба, использовать имущество Клуба (оборудование, полотенца и т.п.) только по назначению, не выносить оборудование за пределы помещения (территории), предназначенного для занятий с данным видом оборудования.<br>2.1.19.Своевременно возвращать полученные полотенца, оборудование (в том  числе полученное под залог) по окончании пользования.<br>2.1.20.Незамедлительно сообщать Ответственным работникам Клуба об обнаруженных неисправностях оборудования.<br>2.1.21.Незамедлительно  сообщать Ответственным  работникам  Клуба о подозрительных лицах и происшествиях в Клубе.<br>2.1.22.Не проносить продукты питания, посторонние предметы (собственное оборудование, спортивные сумки и т.п.) в помещения (на территорию), предназначенные для занятий .<br>2.1.23.Не опаздывать на разминку в групповых занятиях. Опозданием по настоящим правилам считается явка на занятия позже их начала более чем на 5 минут.<br>2.1.24.Проводить фото, кино и видеосъемку на территории Клуба только с разрешения Генерального директора Клуба или Ответственного работника Клуба.<br>2.1.25. По требованию Ответственного работника Клуба или Тренера  Клуба освободить территорию (помещение), где должно проводиться групповое или индивидуальное занятие.<br>2.1.26. При пользовании солярием, коллагенарием Клиент обязан соблюдать инструкцию по его использованию, размещенную рядом с аппаратом. При застревании жетона в жетоноприемнике солярия, коллагенария следует немедленно обратиться к администратору рецепции, который зафиксирует данный факт актом. В этом случае жетон либо будет извлечен и возвращен Клиенту немедленно, либо в его следующий визит в Клуб. В случае если жетон оказался внутри жетоноприемника солярия, коллагенария,  но услуга не была оказана, Клиент обязан по завершению визита в Клуб обратиться к администратору рецепции  Клуба, который зафиксирует данный факт актом. По окончании смены работы солярия, коллагенария дежурный техник сверяет фактическое количество жетонов в жетоноприемнике с показанием счетчика. В случае выявления расхождения между количеством жетонов и сеансов солярия, коллагенария жетон возвращается Клиенту при следующем посещении Клуба. <br>2.1.27. При посещении сауны:
				ul
					li перед посещением сауны обязательно принимать душ, чтобы снять жировую пленку и устранить запах пота;
					li категорически запрещается использовать любые вспомогательные косметические средства (мед, масла, скрабы, кофе, аэрозоли, мази и пр.);
					li категорически запрещается заходить в сауну в резиновых тапочках (на рецепции Клуба можно приобрети одноразовые тапочки и носочки для сауны);
					li прежде чем зайти в парную, необходимо надеть шапочку из войлока, чтобы предупредить тепловой удар;
					li в помещении сауны необходимо использовать полотенца, которое необходимо постелить на скамью. Во время нахождении в помещении сауны следует избегать соприкосновения с поверхностью каменки – это может вызвать сильные ожоги;
					li запрещается накрывать каменку посторонними предметами – это может привести к пожару;
					li категорически запрещено лить масляные и другие вещества на электрические тэны;
					li запрещается громко разговаривать;
					li после первого «захода» в помещение сауны необходимо принять душ или облиться холодной водой из ушата;
					li не рекомендуется длительное нахождение в сауне, особенно людям, страдающим повышенным артериальным давлением, варикозным расширение вен и после усиленной кардионагрузки.
				p Недобросовестным и нарушающим систематически правила посещения сауны Клиентам администрация вправе отказать в последующих посещениях Клуба и расторгнуть договор в одностороннем порядке.<br>2.1.27. Клиент самостоятельно определяет время пользования солярием, коллагенарием и несет ответственность за пользование солярием, коллагенарием,  а также за состояние своего здоровья.
				a.anchor(href="#navigation") В начало
			+content('term3')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term4')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term5')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term6')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term7')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term8')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term9')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term10')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term11')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term12')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало
			+content('term13')
				h2 Термины, определения и принимаемые сокращения
				p <span>Договор</span> — договор о предоставлении Услуг, заключенный ООО «Одиссей секьюритиз» (ИНН 7802831115, ОГРН 1137847087366) с физическим или юридическим лицом.
				p <span>Сайт</span> — информационный веб-ресурс – сайт Клуба, размещенный в сети Интернет по адресу: http:// www.lider-sport.ru.
				p <span>Клуб</span> — спортивный клуб «Лидер Спорт», расположенный по адресу: г. Санкт-Петербург, пр. Энгельса, д. 154, лит. А, осуществляющий деятельность, целью которой является предоставление услуг в области спорта, физической культуры и отдыха, а также дополнительных услуг.
				p <span>Услуги</span> — услуги в области спорта, физической культуры и отдыха, а также дополнительные услуги, предоставляемые Клубом.
				p <span>Клиент</span> — физическое лицо, обладающее правами на предоставление ему Услуг в соответствии с условиями Договора.
				p <span>Сопровождающий</span> — законный или иной представитель несовершеннолетнего Гостя.
				p <span>Гость</span> — физическое лицо, находящееся на территории Клуба, не состоящее в договорных отношениях с Клубом и не являющееся Сопровождающим.
				p <span>Клубная карта</span> — карта с уникальным номером, содержащая основные сведения о Члене Клуба, предназначенная для обеспечения удобного и быстрого взаимодействия Члена Клуба и Клуба в ходе предоставления Услуг.
				p <span>Персонал Клуба</span> — все работники Клуба.
				p <span>Ответственные работники Клуба</span> — управляющий Клубом, старший администратор, администратор, т.е. работники, в чьи полномочия входит осуществление организационно-распорядительных действий.
				p <span>Тренер</span> — лицо, обладающее правом проводить в Клубе групповые и/или индивидуальные занятия с Клиентами. В контексте настоящих Правил понятие Тренер, аналогично понятию Инструктор. Тренер не реализует какие-либо образовательные программы, предусмотренные  законодательством об образовательной деятельности. ООО «Одиссей секьюритиз»  не осуществляет  деятельность по реализации образовательных программ, не оказывает образовательные услуг.
				p <span>Оборудование</span> — спортивный инвентарь, снаряды, любые тренажерные комплексы и оборудование в Клубе, предназначенные для использования во время занятий (тренировок).
				a.anchor(href="#navigation") В начало