mixin form(id)
	include ../input/input.pug
	include ../agree/agree.pug
	include ../button/button.pug
	.form-wrapper
		.container
			.form
				p.form__title
					| Запишись 
					span на бесплатный 
					| Гостевой визит
				form(id=id)
					.form__inputs
						+input({'text': 'Имя', 'id': 'name', 'name': 'name', 'required': true, 'type': 'text'})
						+input({'text': 'Телефон', 'id': 'phone', 'name': 'phone', 'required': true, 'type': 'text','className': 'phone-input'})
						+input({'text': 'E-mail', 'id': 'email', 'name': 'email', 'required': false, 'type': 'email', 'className': 'email-input'})
					+agree({'id': 'agreement', 'name': 'agreement'})
					+button({'id': 'formSectionButton', 'text': 'Записаться'})