extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/list/list.pug
	include ../../components/form/form.pug
	include ../../components/modal/modal.pug
	.gym-page
		.container
			h1.title ТРЕНАЖЕРНЫЙ ЗАЛ
			+serviceHead({
				'image': './assets/images/content/gym',
				'text': 'Многофункциональная территория для любителей самого красивого вида спорта, желающих достичь результатов в построении идеальных атлетических пропорции.',
				'link': 'javascript:void(0)'
			})
			.service-gym
				+serviceLine(
					[
						{
							'type': 'item',
							'title': 'Более 1300 квадратных метров',
							'text': 'Один из самых больших тренажерных залов в Санкт-Петербурге',
							'icon': 'plan'
						},
						{
							'type': 'item',
							'title': '100+ силовых тренажеров',
							'text': 'В нашем клубе представлено большое количество грузоблочных тренажеров следующих производителей: TechnoGym, TuffStuff, Life Fitness, Hammer Strength',
							'icon': 'apparatus'
						},
						{
							'type': 'item',
							'title': 'тренерский состав',
							'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии',
							'icon': 'trainer',
							'link': {
								'text': 'Команда',
								'href': 'javascript:void(0)'
							} 
						}
					]
				)
				+serviceLine(
					[
						{
							'type': 'quote',
							'text': 'Если ты не готов трудиться, значит, ты готов проиграть'
						},
						{
							'type': 'item',
							'title': '40+ кардиотренажеров',
							'text': 'Кардиозона оснащена профессиональными беговыми дорожками, эллиптическими тренажерами, велотренажерами, степперами, производства TechnoGym',
							'icon': 'treadmil'
						},
						{
							'type': 'item',
							'title': '130+ тренажеров в зоне свободных весов',
							'text': 'В нашем клубе мы создали уникальные условия для занятий со свободными весами',
							'icon': 'gym',
							'link': {
								'text': 'Подробнее',
								'id': 'gymModal__open',
								'href': 'javascript:void(0)',
								'className': 'modal__open'
							} 
						}
					]
				)
				.mobile__line
					+serviceLine(
					[
						{
							'type': 'quote',
							'text': 'Если ты не готов трудиться, значит, ты готов проиграть'
						},
						{
							'type': 'item',
							'title': 'Более 1300 квадратных метров',
							'text': 'Один из самых больших тренажерных залов в Санкт-Петербурге',
							'icon': 'plan'
						},
						{
							'type': 'item',
							'title': '40+ кардиотренажеров',
							'text': 'Кардиозона оснащена профессиональными беговыми дорожками, эллиптическими тренажерами, велотренажерами, степперами, производства TechnoGym',
							'icon': 'treadmil'
						},
						{
							'type': 'item',
							'title': '100+ силовых тренажеров',
							'text': 'В нашем клубе представлено большое количество грузоблочных тренажеров следующих производителей: TechnoGym, TuffStuff, Life Fitness, Hammer Strength',
							'icon': 'apparatus'
						},
						{
							'type': 'item',
							'title': '130+ тренажеров в зоне свободных весов',
							'text': 'В нашем клубе мы создали уникальные условия для занятий со свободными весами',
							'icon': 'gym',
							'link': {
								'text': 'Подробнее',
								'id': 'gymModal__open',
								'href': 'javascript:void(0)',
								'className': 'modal__open'
							} 
						},
						{
							'type': 'item',
							'title': 'тренерский состав',
							'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии',
							'icon': 'trainer',
							'link': {
								'text': 'Команда',
								'href': 'javascript:void(0)'
							} 
						}
					]
				)
			.service-trainer
				h2.subtitle преимущества персональных занятий с тренером
				+list([
					'оценка конкретно ваших возможностей и уровня подготовки',
					'разработка индивидуальной программы тренировок, исходя из ваших целей и режима дня',
					'индивидуальные советы по режиму питания',
					'контроль техники выполнения упражнений',
					'полная безопасность для вашего здоровья',
					'исключение перегрузки организма или снижения эффективности от занятий',
					'своевременная корректировка нагрузки и тренировочной программы',
					'возможность выбрать для себя тренера, с которым максимально комфортно'
				])
		+form('gym-form')
	+modal({
		'id': 'gymModal',
		'className': 'gym-modal'
	})
		h3.modal__title Свободные веса в нашем клубе — это:
		+list([
			'16 скамеек для жима',
			'8 скамеек для горизонтального жима лежа (две из них профессиональные, для пауэрлифтинга, с домкратами, позволяющими изменять высоту штанги без снятия «блинов»)',
			'3 скамьи для жима лежа под углом головой к верху',
			'2 скамьи для жима лежа под углом головой вниз',
			'2 уникальных скамьи для французского жима (наша собственная разработка)',
			'1 скамья для жима сидя',
			'8 станков для тренировки мышц ног',
			'4 стойки (рамы) для приседаний',
			'2 станка для жима лежа ногами',
			'2 «Гакк машины»',
			'10 тренажеров Hammer Strength',
			'3 тренажера Смита',
			'41 гриф',
			'17 больших грифов (для приседаний со штангой, жимов и тяг)',
			'10 EZ грифа для тренировки мышц рук другими хватами',
			'10 малых преднагруженных грифов для тренировки рук (10-50 кг)',
			'4 малых грифа для тренировок женщин, и мышц рук (бицепс, трицепс)',
			'большой гантельный ряд (от 1-го до 52 кг.)'
		])