// Colors
$orange: #f54c28;
$light-gray: #939393;
$dark-gray: #222222;

// Size
$header-height: 120px;

// Fonts
$font: 'Fira Sans Condensed';

// Responsive
$breakpoints: (
	xl: 1300px,
	lg: 1170px,
	md: 768px,
	sm: 480px
);