extends ../layout.pug

block content
	include ../../components/homeSection/homeSection.pug
	include ../../components/formSection/formSection.pug
	include ../../components/advantagesSection/advantagesSection.pug
	include ../../components/moreSection/moreSection.pug
	include ../../components/appSection/appSection.pug
	include ../../components/contactsSection/contactsSection.pug
	+homeSection()
	+formSection()
	+advantagesSection()
	+moreSection()
	+appSection()
	+contactsSection()