.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.age {
	font-size:(47/10)*1rem;
	width:(67/47)*1em;
}
.apparatus {
	font-size:(70/10)*1rem;
	width:(60/70)*1em;
}
.appstore {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.attention {
	font-size:(35/10)*1rem;
	width:(40/35)*1em;
}
.calendar {
	font-size:(45/10)*1rem;
	width:(43/45)*1em;
}
.calendar_new {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
	fill: $orange !important;
}
.card {
	font-size:(47/10)*1rem;
	width:(67/47)*1em;
}
.cardio {
	font-size:(41/10)*1rem;
	width:(45/41)*1em;
}
.children {
	font-size:(44/10)*1rem;
	width:(45/44)*1em;
}
.dance {
	font-size:(55/10)*1rem;
	width:(43/55)*1em;
}
.date {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.direction {
	font-size:(60/10)*1rem;
	width:(52/60)*1em;
}
.down-arrow {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.exit {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.facebook {
	font-size:(19/10)*1rem;
	width:(10/19)*1em;
}
.google_play {
	font-size:(20/10)*1rem;
	width:(19/20)*1em;
}
.gym {
	font-size:(100/10)*1rem;
	width:(154/100)*1em;
}
.gymnastic {
	font-size:(45/10)*1rem;
	width:(40/45)*1em;
}
.hamburger {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.hammock {
	font-size:(45/10)*1rem;
	width:(55/45)*1em;
}
.hockey {
	font-size:(49/10)*1rem;
	width:(52/49)*1em;
}
.ice-rink {
	font-size:(45/10)*1rem;
	width:(52/45)*1em;
}
.instagram {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.locker {
	font-size:(46/10)*1rem;
	width:(40/46)*1em;
}
.logo {
	font-size:(46/10)*1rem;
	width:(200/46)*1em;
}
.mail {
	font-size:(26/10)*1rem;
	width:(35/26)*1em;
}
.many {
	font-size:(100/10)*1rem;
	width:(115/100)*1em;
}
.pause {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.phone {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.plan {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.play {
	font-size:(42/10)*1rem;
	width:(42/42)*1em;
}
.ring {
	font-size:(100/10)*1rem;
	width:(106/100)*1em;
}
.sale {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.sauna {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.test {
	font-size:(49/10)*1rem;
	width:(38/49)*1em;
}
.time {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.towel {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.trainer {
	font-size:(100/10)*1rem;
	width:(121/100)*1em;
}
.treadmil {
	font-size:(57/10)*1rem;
	width:(68/57)*1em;
}
.vk {
	font-size:(20/10)*1rem;
	width:(33/20)*1em;
}
.water {
	font-size:(45/10)*1rem;
	width:(24/45)*1em;
}
