extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/photoItem/photoItem.pug
	include ../../components/form/form.pug
	.group-page
		.container
			h1.title ГРУППОВЫЕ ПРОГРАММЫ
			+serviceHead({
				'image': './assets/images/content/group',
				'text': 'Удобное и насыщенное расписание, профессиональные инструкторы, просторные залы и самое современное фитнес-оборудование для реализации ваших целей.',
				'link': 'http://kindofheaven.ru/leader/gallery.html'
			})
			.service-group
				+serviceLine(
					[
						{
							'type': 'item',
							'title': '5 залов групповых программ',
							'text': 'Возможность тренироваться по любому из предлагаемых направлений в специально оборудованных залах',
							'icon': 'many'
						},
						{
							'type': 'item',
							'title': '10+ различных направлений',
							'text': 'Силовые тренировки, функциональные тренировки, степ аэробика, yoga, pilates, cycle, танцевальные классы, лицензионные программы Zumba, Deep work, Body ART',
							'icon': 'direction',
							'link': {
								'text': 'Расписание тренировок',
								'href': 'javascript:void(0)',
								'className': '_margin-top'
							}
						}
					]
				)
				+serviceLine(
					[
						{
							'type': 'quote',
							'text': 'Чтобы дойти до цели, надо идти'
						},
						{
							'type': 'item',
							'title': '80+ тренировок в неделю',
							'text': 'Расписание тренировок составлено так, чтобы нашим клиентам было удобно посещать их регулярно',
							'icon': 'calendar_new'
						},
						{
							'type': 'item',
							'title': '20 инструкторов',
							'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии, многие из которых чемпионы России, Европы и мира',
							'icon': 'trainer',
							'link': {
								'text': 'Команда',
								'href': 'javascript:void(0)'
							} 
						}
					]
				)
				.mobile__line
					+serviceLine(
						[
							{
								'type': 'quote',
								'text': 'Чтобы дойти до цели, надо идти'
							},
							{
								'type': 'item',
								'title': '5 залов групповых программ',
								'text': 'Возможность тренироваться по любому из предлагаемых направлений в специально оборудованных залах',
								'icon': 'many'
							},
							{
								'type': 'item',
								'title': '80+ тренировок в неделю',
								'text': 'Расписание тренировок составлено так, чтобы нашим клиентам было удобно посещать их регулярно',
								'icon': 'calendar_new'
							},
							{
								'type': 'item',
								'title': '10+ различных направлений',
								'text': 'Силовые тренировки, функциональные тренировки, степ аэробика, yoga, pilates, cycle, танцевальные классы, лицензионные программы Zumba, Deep work, Body ART',
								'icon': 'direction',
								'link': {
									'text': 'Расписание тренировок',
									'href': 'javascript:void(0)'
								}
							},
							{
								'type': 'item',
								'title': '20 инструкторов',
								'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии, многие из которых чемпионы России, Европы и мира',
								'icon': 'trainer',
								'link': {
									'text': 'Команда',
									'href': 'javascript:void(0)'
								} 
							}
						]
					)
			.service__photo-items
				h3.title Групповые залы
				+photoItem({
					'text': '<p class="photo-item__title">Студия 1</p><p>Многофункциональный зал площадью 350 кв.м., предназначенный для степ-аэробики, силовых и функциональных групповых тренировок . Оснащен степ-платформами, полусферами BOSU, фитнес штангами (pump) , бодибарами, гантельным рядом, эспандерами, ковриками и специальным амортизирующим напольным покрытием Taraflex.</p>',
					'image': './assets/images/content/gallery/group/1',
					'right': '_right'
				})
				+photoItem({
					'text': '<p class="photo-item__title">Студия 2</p><p>Зал площадью 250 кв.м. с покрытием паркет. Предназначен для проведения танцевальных уроков (Zumba, Latina, Strip), функциональных тренировок, пилатес и йоги. Оснащен всем необходимым оборудованием для занятий Pilates (роллы, кольца, большие и маленькие медицинские мячи), а также оборудованием для йоги и стрейтчинга (коврики, ремни, кирпичи).</p>',
					'image': './assets/images/content/gallery/group/2'
				})
				+photoItem({
					'text': '<p class="photo-item__title">зал №1</p><p>Зал площадью 150 кв.м., имеет покрытие паркет и оборудован хореографическим станком и ковриками. В основном предназначен для проведения танцевальных и функциональных тренировок, пилатес, стрейтчинга.</p>',
					'image': './assets/images/content/gallery/group/3',
					'right': '_right'
				})
				+photoItem({
					'text': '<p class="photo-item__title">зал №2</p><p>Многофункциональный зал площадью 80 кв.м., предназначенный для разнообразных уроков в мини-группах и персонального тренинга. Зал оборудован специальной подвесной конструкцией с 13 гамаками, для проведения уроков йоги в гамаках (аэройоги) и стрейтчинга.</p>',
					'image': './assets/images/content/gallery/group/4'
				})
				+photoItem({
					'text': '<p class="photo-item__title">сайкл-студия</p><p>Сайкл-студия — это 25 профессиональных сайкл-тренажеров производства TechnoGym в специальном зале, где под чутким руководством опытного инструктора и под энергичную музыку проводятся уроки сайкл, имитирующие групповую вело гонку.</p>',
					'image': './assets/images/content/gallery/group/5',
					'right': '_right'
				})
		+form('group-form')