.news-page {
	.news-form {
		display: none;
	}
	@include respond-below(lg) {
		.news-form {
			background: $orange;
			padding: 70px 0;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
	}
}