.checkbox {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	input {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;
		&:checked ~ .checkbox__mark {
			&:after {
				opacity: 1;
			}
		}
	}
	color: #ffffff;
	font-size: 12px;
	position: relative;
	a {
		font-weight: 700;
		margin: 0 3px;
		color: #ffffff;
		display: inline;
		font-size: 12px;
	}
	.checkbox__mark {
		width: 15px;
		height: 15px;
		border: 1px solid #ffffff;
		margin-right: 5px;
		cursor: pointer;
		position: relative;
		&:after {
			position: absolute;
			opacity: 0;
			content: "";
			left: 4px;
  			top: 2px;
  			width: 5px;
  			height: 8px;
  			border: solid white;
  			border-width: 0 2px 2px 0;
  			-webkit-transform: rotate(45deg);
  			-ms-transform: rotate(45deg);
  			transform: rotate(45deg);
  			-webkit-transition: opacity .3s ease-in-out;
  			   -moz-transition: opacity .3s ease-in-out;
  			    -ms-transition: opacity .3s ease-in-out;
  			     -o-transition: opacity .3s ease-in-out;
  			        transition: opacity .3s ease-in-out;
		}
	}
}