extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/photoItem/photoItem.pug
	include ../../components/form/form.pug
	include ../../components/modal/modal.pug
	include ../../components/list/list.pug
	.group-page
		.container
			h1.title ДЕТСКАЯ КОМНАТА
			+serviceHead({
				'image': './assets/images/content/childroom',
				'withTitle': true,
				'title': 'Режим работы детской комнаты',
				'text': '<svg class="icon date"><use xlink:href="./assets/images/template/sprite.svg#date" /></svg> Будние дни: 13:00 - 21:00<br> Выходные и праздничные дни: 11:00 - 19:00',
				'textClass': '_center',
				'link': 'javascript:void(0)',
				'buttonText': 'Правила клуба',
				'buttonId': 'childRules__open',
				'className': 'modal__open'
			})
			.service__photo-items
				+photoItem({
					'text': '<p>В нашем клубе создана комната для детей «Лидерландия», где вы можете оставить ребенка во время посещения нашего клуба. Теперь вы не будете беспокоиться о том, чем занять вашего малыша пока вы тренируетесь. Мы берём это на себя! В то время пока вы занимаетесь, ваш ребенок будет находиться в компании сверстников и нашего сотрудника, который присмотрит за порядком.</p>',
					'image': './assets/images/content/photo-item9',
					'right': '_right'
				})
				+photoItem({
					'text': '<p>В «ЛидерЛандии» множество игрушек, книжек и раскрасок, увлекательных настольных игр, есть «сухой бассейн», массирующее воздействие шариков которого способствует развитию у детей тактильной чувствительности, а яркие цвета стимулируют зрительное восприятие. В детской комнате присутствует администратор, который следит за порядком.</p>',
					'image': './assets/images/content/photo-item10'
				})
		+form('childroom-form')
	+modal({
		'id': 'childRules',
		'className': 'childroom-modal'
	})
		h3.modal__title Правила клуба
		+list([
			'Для реализации права Клиента, имеющего ребенка в возрасте от 3 до 10 лет, беспрепятственно посещать спортивные занятия Клуб предоставляет ребенку Клиента (родителя) возможность посещения комнаты для детей, находящейся на территории Клуба. В детской комнате осуществляется только временный присмотр за порядком Клуб не несет никакой ответственности за детей, оставленных в детской комнате.',
			'Данная услуга оказывается Клиенту, а не его ребенку',
			'Клиент должен осознавать, что в детской комнате осуществляется только временный бесплатный присмотр за его ребенком',
			'Режим работы детской комнаты определяется Клубом',
			'Оставляя ребенка в детской комнате, родитель обязан: <br>• убедиться в том, что ребенок здоров и его физиологические потребности на данный момент удовлетворены;<br>• обеспечить наличие сменной обуви, сдать верхнюю одежду ребенка в гардероб;<br>• ознакомить ребенка с правилами поведения в общественных местах, учитывая его возраст;<br>• немедленно прервать тренировку и подойти к администратору детской комнаты при возникновении ситуации, требующей присутствия родителя (неадекватном поведении ребенка, его плохом самочувствии и т.д.)',
			'Клиент не имеет права: <br>• оставлять ребенка в детской комнате более чем на 3 часа, так как в Клубе нет условий для организации детского питания; <br>• покидать Клуб при нахождении ребенка в детской комнате, так как Клуб осуществляет бесплатную услугу временного присмотра за ребенком, но не несет за него юридическую ответственность; <br>• проводить ребенка на любую другую территорию Клуба, кроме детской комнаты (в тренировочную зону, в раздевалку, в сауну и т.д.)',
			'В случае умышленного нарушения Клиентом данных пунктов Клуб имеет право взыскать с Клиента материальную компенсацию либо прервать договор с ним без возмещения его остаточной стоимости',
			'Поход в детскую комнату осуществляется по предъявлению «Разрешения на посещение детской комнаты», получить можно в отделе продаж',
		])