extends ../layout.pug

block content
	include ../../components/gallery/gallery.pug
	.gallery-page
		.container
			h1.title Break Dance Buttle 2018
			+gallery([
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small4',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small3',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small2',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small1',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small5',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small6',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small4',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small3',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small2',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small1',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main1',
					'small': 'assets/images/content/gallery/small5',
					'alt': 'Image alt'
				},
				{
					'type': 'image',
					'large': 'assets/images/content/gallery/main2',
					'small': 'assets/images/content/gallery/small6',
					'alt': 'Image alt'
				},
			])