.timetable__item {
	padding: 55px 20px 20px 20px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: stretch;
	        align-items: stretch;
	background-color: #f0f0f0;
	height: 202px;
	position: relative;
	.timetable__dates {
		position: absolute;
		top: 20px;
		left: 20px;
		width: calc(100% - 40px);
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: stretch;
		        align-items: stretch;
		.timetable__dates--single {
			font-weight: 500;
			color: $dark-gray;
			font-size: 18px;
			text-transform: uppercase;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			line-height: 23px;
		}
	}
	.timetable__sport {
		font-weight: 500;
		color: $orange;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 30px;
	}
	.timetable__trainer {
		color: $dark-gray;
		font-size: 18px;
		line-height: 30px;
	}
	.timetable__info {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: calc(100% - 40px);
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
	}
}