mixin table()
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 16:00-17:00
			.timetable__dates--single
				span Вс
				span 17:00-18:00
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Малинин Андрей
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн, ср, пт
				span 16:30-18:00
		.timetable__sport БОКС
		.timetable__trainer Высоцкий Владимир
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн-пт
				span 16:00-17:30
		.timetable__sport Дзю-до кодокан
		.timetable__trainer Болонин Михаил
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн, ср, пт
				span 16:30-18:00
		.timetable__sport БОКС
		.timetable__trainer Высоцкий Владимир
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн-пт
				span 16:00-17:30
		.timetable__sport Дзю-до кодокан
		.timetable__trainer Болонин Михаил
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 16:00-17:00
			.timetable__dates--single
				span Вс
				span 17:00-18:00
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Малинин Андрей
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн, ср, пт
				span 16:30-18:00
		.timetable__sport БОКС
		.timetable__trainer Высоцкий Владимир
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн-пт
				span 16:00-17:30
		.timetable__sport Дзю-до кодокан
		.timetable__trainer Болонин Михаил
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн, ср, пт
				span 16:30-18:00
		.timetable__sport БОКС
		.timetable__trainer Высоцкий Владимир
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Вт, ЧТ
				span 17:00-18:30
			.timetable__dates--single
				span Вс
				span 18:00-19:30
		.timetable__sport айкидо ёсинкан
		.timetable__trainer Шиманович Евгений
		.timetable__info
			span.timetable__info--age 8-16 лет
			span.timetable__info--payment 3 500р./месяц
	.timetable__item
		.timetable__dates
			.timetable__dates--single
				span Пн-пт
				span 16:00-17:30
		.timetable__sport Дзю-до кодокан
		.timetable__trainer Болонин Михаил
		.timetable__info
			span.timetable__info--age 7-11 лет
			span.timetable__info--payment 3 500р./месяц