mixin contactsSection()
	include ../marker/marker.pug
	section.contacts-section
		.container
			h2.title КОНТАКТЫ
			.contacts-section__inner
				.contacts-section__map
					script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acd8924e917c15efbbb87e5a9f02daa546d574a80a4068ff0a70684b689d5b384&amp;width=555&amp;height=383&amp;lang=ru_RU&amp;scroll=true")
				.contacts-section__content
					p.contacts-section__content--text Санкт-Петербург, метро Проспект Просвещения / Парнас 
					p.contacts-section__content--text проспект Энгельса, 154а<br> ТРК "Гранд Каньон", 3 этаж
					p.contacts-section__content--text До 10.00 вход в клуб через бизнес-центр со стороны ул. Шостаковича
					+marker({'icon': 'mail', 'href': 'mailto:info@lider-sport.ru', 'text': 'info@lider-sport.ru'})
					+marker({'icon': 'phone', 'href': 'tel:+78123801027', 'text': '+7 (812) 380-10-27'})