extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/list/list.pug
	include ../../components/form/form.pug
	.fighting-page
		.container
			h1.title ЕДИНОБОРСТВА
			+serviceHead({
				'image': './assets/images/content/fighting',
				'text': 'В нашем клубе занятия единоборствами организованы уникально. В таком качестве и количестве единоборства не преподаются ни в одном фитнес-клубе города.',
				'link': 'javascript:void(0)'
			})
			.service-fighting
				+serviceLine(
					[
						{
							'type': 'item',
							'title': '10+ видов единоборств',
							'text': 'У наших клиентов есть возможность посещать занятия по следующим направлениям: бокс, кикбоксинг, боевое самбо, дзюдо, вольная борьба, каратэ-до Шото-кан, айкибудзюцу, бразильское джиуджитсу, айкидо Ёсинкан, ММА и Грэпплинг',
							'icon': 'direction'
						},
						{
							'type': 'item',
							'title': '10+ видов оборудования',
							'text': '<ul class="list"><li class="list__item"><span class="list__item--mark"></span>зал бокса  (320 м2) с профессиональным рингом, большим количеством боксерских мешков, шведских стенок и другого специального оборудования</li><li class="list__item"><span class="list__item--mark"></span>зал борьбы (320 м2), а также малый зал борьбы и новый зал борьбы с профессиональным татами, с защитными матами на стенах, с боксерскими мешками, шведскими стенками, макеварами</li></ul>',
							'icon': 'gym'
						}
					]
				)
				+serviceLine(
					[
						{
							'type': 'quote',
							'text': 'Успех — это движение от неудачи к неудаче без потери энтузиазма'
						},
						{
							'type': 'item',
							'title': '4+ возраст учеников',
							'text': 'Боевыми искусствами в нашем клубе могут заниматься как взрослые, так и дети, для каждой возрастной группы действует своя программа',
							'icon': 'age'
						},
						{
							'type': 'item',
							'title': '20 инструкторов',
							'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии, многие из которых чемпионы России, Европы и мира',
							'icon': 'trainer',
							'link': {
								'text': 'Команда',
								'href': 'javascript:void(0)'
							} 
						}
					]
				)
				.mobile__line
					+serviceLine(
						[
						{
							'type': 'quote',
							'text': 'Успех — это движение от неудачи к неудаче без потери энтузиазма'
						},
						{
							'type': 'item',
							'title': '10+ видов единоборств',
							'text': 'У наших клиентов есть возможность посещать занятия по следующим направлениям: бокс, кикбоксинг, боевое самбо, дзюдо, вольная борьба, каратэ-до Шото-кан, айкибудзюцу, бразильское джиуджитсу, айкидо Ёсинкан, ММА и Грэпплинг',
							'icon': 'direction'
						},
						{
							'type': 'item',
							'title': '4+ возраст учеников',
							'text': 'Боевыми искусствами в нашем клубе могут заниматься как взрослые, так и дети, для каждой возрастной группы действует своя программа',
							'icon': 'age'
						},
						{
							'type': 'item',
							'title': '10+ видов оборудования',
							'text': '<ul class="list"><li class="list__item"><span class="list__item--mark"></span>зал бокса  (320 м2) с профессиональным рингом, большим количеством боксерских мешков, шведских стенок и другого специального оборудования</li><li class="list__item"><span class="list__item--mark"></span>зал борьбы (320 м2), а также малый зал борьбы и новый зал борьбы с профессиональным татами, с защитными матами на стенах, с боксерскими мешками, шведскими стенками, макеварами</li></ul>',
							'icon': 'gym'
						},
						{
							'type': 'item',
							'title': '20 инструкторов',
							'text': 'Инструкторы клуба имеют высшее спортивное, медицинское образование, высокие спортивные достижения, разряды, регалии, многие из которых чемпионы России, Европы и мира',
							'icon': 'trainer',
							'link': {
								'text': 'Команда',
								'href': 'javascript:void(0)'
							} 
						}
						]
					)
			.service-trainer
				h2.subtitle преимущества персональных занятий с тренером
				+list([
					'оценка конкретно ваших возможностей и уровня подготовки',
					'разработка индивидуальной программы тренировок, исходя из ваших целей и режима дня',
					'полная безопасность для вашего здоровья',
					'исключение перегрузки организма или снижения эффективности от занятий',
					'индивидуальные советы по режиму питания',
					'контроль техники выполнения упражнений',
					'своевременная корректировка нагрузки и тренировочной программы',
					'возможность выбрать для себя тренера, с которым максимально комфортно'
				])
		+form('fighting-form')