extends ../layout.pug

block content
	include ../../components/serviceHead/serviceHead.pug
	include ../../components/serviceLine/serviceLine.pug
	include ../../components/photoItem/photoItem.pug
	include ../../components/form/form.pug
	include ../../components/list/list.pug
	include ../../components/button/button.pug
	include ../../components/modal/modal.pug
	.yoga-page
		.container
			h1.title ЙОГА В ГАМАКАХ
			+serviceHead({
				'image': './assets/images/content/yoga',
				'text': 'Современное направление йоги с использованием подвесных гамаков: уникальное сочетание асан йоги и лечебной гимнастики в воздухе.',
				'link': 'javascript:void(0)'
			})
			.service-trainer
				h2.subtitle ЙОГА В ГАМАКАХ ПОЗВОЛЯЕТ
				+list([
					'разгрузить позвоночник',
					'укрепить мышечный каркас всего тела',
					'улучшить гибкость',
					'мягко растянуть суставы, связки и сухожилия',
					'почувствовать радость от ощущения полета',
					'снять стресс и расслабиться'
				])
			.service-subscriptions
				p.subtitle ЙОГА В ГАМАКАХ ДЛЯ ВЗРОСЛЫХ
				.service-subscriptions__list
					.service-subscriptions__item
						p.service-subscriptions__item--amount 1 тренировка<br>(для клиентов клуба)
						.service-subscriptions__item--payment 300 руб./месяц
					.service-subscriptions__item
						p.service-subscriptions__item--amount 1 тренировка<br>(не клиент клуба)
						.service-subscriptions__item--payment 600 руб./месяц
					.service-subscriptions__item
						p.service-subscriptions__item--amount 4 тренировки<br>(абонемент)
						.service-subscriptions__item--payment 2 200 руб./месяц
					+button({
						"link" : 'javascript:void(0)',
						'text': 'Записаться',
						'className': '_colored modal__open',
						'id': 'formModal__open'
					})
			.service__photo-items
				h3.title ЙОГА В ГАМАКАХ ДЛЯ ДЕТЕЙ
				+photoItem({
					'text': '<p>Это развивающая программа для детей 6-12 лет с использованием гамака. Философия Йоги в гамаках для детей — веселье, выход из зоны комфорта. Выполняя прыжки, подъемы, раскачиваясь и находясь в полете дети учатся рассчитывать силы и контролировать страх. Дети, занимающиеся Антигравити Kids, получают умственное и физическое преимущество перед сверстниками. Программа способствует развитию основных жизненных навыков, развивает внимание, эмоции, гибкость тела и мышления. Урок проходит в игровой форме.</p>',
					'image': './assets/images/content/photo-item8',
					'right': '_right'
				})
					.photo-item__buttons
						.photo-item__buttons--amount 8 тренировок
						.photo-item__buttons--payment 3 000руб./месяц
			.service-rules
				p.subtitle ПРАВИЛА ПОСЕЩЕНИЯ УРОКА
				.service-rules__inner
					.service-rules__inner--text
						p Предварительная запись на занятие (на рецепции клуба или по телефону <span>380-10-27</span>).<br>Запись на утренние группы осуществляется с 16.00 предыдущего дня.<br>Запись на вечерние группы день в день занятия, с 10 утра.
						p Если вы хотите записаться заранее, необходимо произвести оплату на рецепции, на тренировке отдать чек инструктору.
					.service-rules__inner--links
						a.modal__open#yogaGeneral__open(href="javascript:void(0)") Общие правила
						a.modal__open#yogaAppearance__open(href="javascript:void(0)") Требования к внешнему виду
						a.modal__open#yogaRestricted__open(href="javascript:void(0)") Противопоказания
		+form('yoga-form')
	+modal({
		'id': 'formModal',
		'className': 'sub-modal'
	})
		p.sub-modal--title ОСТАВЬ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ТОБОЙ<br> В БЛИЖАЙШЕЕ ВРЕМЯ
		form#subForm
			.form__inputs
				+input({'text': 'Имя', 'id': 'name', 'name': 'name', 'required': true, 'type': 'text'})
				+input({'text': 'Телефон', 'id': 'phone', 'name': 'phone', 'required': true, 'type': 'text','className': 'phone-input'})
			+agree({'id': 'agreement', 'name': 'agreement'})
			+button({'id': 'formSectionButton', 'text': 'Записаться'})
	+modal({
		'id': 'yogaGeneral',
		'className': 'yoga-modal'
	})
		h3.modal__title Общие правила
		+list([
			'Для посещения урока необходимо предварительно записаться на рецепции клуба, указав Ф.И.О. и номер телефона',
			'В бланке «Лист записи на урок» необходимо поставить подпись об ознакомлении с «Правилами посещения урока»',
			'В случае если Вы записались, но не сможете присутствовать на уроке, просьба заранее предупредить об этом  рецепцию',
			'За 5 мин до  начала занятия необходимо прийти в ЗАЛ №2 для подстройки гамака и прохождения инструктажа',
			'Все опоздавшие более чем на 5 минут не допускаются к уроку',
			'Последний приём пищи перед занятием не менее чем за 2 часа',
			'Пожалуйста, во время урока отключайте мобильные телефоны или переводите в бесшумный режим',
			'Рекомендуем взять с собой на занятие питьевую воду и полотенце',
			'Перед началом занятия обязательно сообщите инструктору о наличии противопоказаний или перенесенных травм, заболеваний'
		])
	+modal({
		'id': 'yogaAppearance',
		'className': 'yoga-modal'
	})
		h3.modal__title Требования к внешнему виду
		+list([
			'Форма одежды: спортивная, не стесняющая движений. Верх обязательно с рукавом, закрывающим область подмышек.  Низ закрывает колени (желательно иметь длинные штаны)',
			'Занятия проводятся без обуви, босиком или в носках.  Соблюдайте правила гигиены тело, стопы должны быть чистыми, если необходимо, используйте специальные влажные, очищающие салфетки. Избегайте средств с резким запахом (духи, дезодоранты)',
			'Не разрешается заниматься в ювелирных украшения, часах',
			'На волосах не допускаются заколки',
			'Обязательно отсутствие макияжа (тональные средства и помада)'
		])
	+modal({
		'id': 'yogaRestricted',
		'className': 'yoga-modal'
	})
		h3.modal__title Общие ограничения (не рекомендуется посещать занятие)
		+list([
			'при физическом утомлении',
			'во время болезни и при повышенной температуре',
			'ранее чем через 2 часа после еды',
			'при менструации',
			'при беременность (рекомендовано заниматься в специальной группе)',
		])
		h3.modal__title Противопоказания к выполнению перевернутых асан
		+list([
			'смещение позвоночных дисков',
			'тромбофлебит',
			'значительное увеличение щитовидной железы',
			'слабые кровеносные сосуды в глазах',
			'отслоение сетчатки глаза',
			'атеросклероз',
			'тромбоз мозга',
			'воспалительные заболевания в голове (отит, синусит, пульпит и т.д.)',
			'черепно-мозговая травма менее года назад',
			'повышенное артериальное давление',
			'воспалительные заболевания брюшной полости (язва желудка или двенадцатиперстной кишки и т.д.)',
			'хронические заболевания органов пищеварительной системы в стадии обострения',
			'психические заболевания (эпилепсия и т.д.)',
			'менструации у женщин'
		])
		h3.modal__title Противопоказания к упражнениям с висами на руках или на ногах
		+list([
			'заболевания суставов в стадии обострения (артриты)'
		])
		h3.modal__title Противопоказания к наклонам вперед, прогибам назад
		+list([
			'Противопоказания к наклонам вперед, прогибам назад межпозвоночная грыжа'
		])